<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052263671927-h2117t5e2mnvlvp6pnljg6farh778vju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052263671927-h2117t5e2mnvlvp6pnljg6farh778vju</string>
	<key>API_KEY</key>
	<string>AIzaSyD50cqW7OHQtG8Xqlr5DTgHEB1yUY_CRcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1052263671927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rose-hulman.hayesja1.RoseEats</string>
	<key>PROJECT_ID</key>
	<string>roseeats-55df5</string>
	<key>STORAGE_BUCKET</key>
	<string>roseeats-55df5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052263671927:ios:d9129fee40f17cc1b6fe72</string>
	<key>DATABASE_URL</key>
	<string>https://roseeats-55df5.firebaseio.com</string>
</dict>
</plist>